@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  max-width: 75%;
  margin: 0 auto;
  background-color: whitesmoke;
}

header {
  background-color: black;
  border-radius: 0.25em;
  color: whitesmoke;
}

h1 {
  text-align: center;
  font-family: "Domine", serif;
  font-size: 40px;
  padding-top: 2.5%;
}

p {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  padding-bottom: 2.5%;
}

table {
  width: 100%;
  padding-bottom: 3%;
}

td {
  background-color: gray;
  color: whitesmoke;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  border-radius: 0.25em;
  vertical-align: top;
}

button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 1em;
  padding-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  font-size: medium;
  border-radius: 00.25em;
  box-shadow: slategrey;
  background-color: black;
  color: whitesmoke;
}

textarea {
  width: 90%;
  border-radius: 0.25em;
  border-style: solid;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
}

#name {
  width: 90%;
  border-radius: 0.25em;
  border-style: solid;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  background-color: whitesmoke;
}

#email {
  width: 90%;
  border-radius: 0.25em;
  border-style: solid;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
}

#number {
  width: 90%;
  border-radius: 0.25em;
  border-style: solid;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
}

#cell2 {
  text-align: center;
}

#dropdown {
  width: 98%;
  border-radius: 0.25em;
  border-style: solid;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
}
